/*****************************CLASS SELECTOR*****************************/
.subtitle {
  font-weight: normal;
}

.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.topCloudContainer {
  height: 100px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.middle-container {
  margin: 100px 0;
}

.bottomCloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.logo {
  height: 300px;
  width: 300px;
}

.devSkills {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-bottom: 0;
  margin-bottom: 0;
}

.otherSkills {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro {
  width: 30%;
  margin: auto auto 5% auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contacts {
  width: 3rem;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
  margin-bottom: 0;
}

/*****************************TAG SELECTOR*****************************/
body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 2.7rem auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  height: 0;
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  border-top-color: grey;
}

a {
  color: #11999E;
}
